
<template name="postItem">
 <div class="row">
    <style>
      #voteArrows{
        padding-top: 15px;
        padding-left: 100px;
        padding-right: 25px;
        border-left: 75px;
        font-size: 32px;
      }
      .glyphicon.glyphicon-arrow-up{
        
        vertical-align: middle;
      }
      .glyphicon.glyphicon-arrow-down{
       
        vertical-align: middle;
      }
    </style>
    <div class="col-md-1" id="voteArrows">
        <div class="row">
          <button name="upArrow{{_id}}" class="btn-default">
            <span name="upArrowButton" class="upArrowButton glyphicon glyphicon-arrow-up"></span>
          </button>
        </div>
        <div class="row">
          <button name="downArrow{{_id}}" class="btn-default">
            <span name="downArrowButton" class="downArrowButton glyphicon glyphicon-arrow-down"></span>
          </button>
        </div>
    </div>  
    <div class="col-md-8">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <a href="{{pathFor 'postPage'}}" class="panel-title">{{title}}</a>
          <span style="float: right">Rating: {{pop_rating}}</span>
        </div>
        <div class="body">
        <div class="row text-center">
          <span>{{getTopSummary _id}}</span>
        </div>

        <div class="row"><p>&nbsp;</p></div>

          <div class="row text-left">
            <div class="col-md-12">
              <small>Submitted ten seconds ago by {{getUserName userID}}</small>
            </div>
          </div>          
          <div class="row">
            <div class="col-md-2">
              <a href="">comments</a>
            </div>
            <div class="col-md-1">
              <span>Rating: </span>
            </div>
            <div class="col-md-3">
              {{> uneditableRateItTemplate}}
            </div>
            <div class="col-md-3">
              <a href="">{{doi}}</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- 2nd column -->     
  </div> <!-- snapshot -->
</template>