
<template name="postItem">
 <div class="row">
    <div class="col-md-11">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a href="{{pathFor 'postPage'}}" class="panel-title">{{>titleTemplate}}</a>
          <span style="float: right">Rating: {{pop_rating}}</span>
        </div>
        <div class="body">

        <div class="row"></div>
          {{top_summary.text}}&nbsp;
          <div class="row text-left">
            <div class="col-md-12">
              <small>Submitted ten seconds ago by {{getUserName userID}}</small>
            </div>
          </div>          
          <div class="row">
            <div class="col-md-2">
              <a href="{{pathFor 'postPage' hash='comments'}}">comments</a>
            </div>
            <div class="col-md-1">
              <span>Rating: </span>
            </div>
            <div class="col-md-3">
              {{> uneditableRateItTemplate}}
            </div>
            <div class="col-md-3">
              <a href="{{doi}}">{{doi}}</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- 2nd column -->
    <div class="col-md-1" id="voteArrows" style="height: inherit">
        <div class="row">
          <button name="upArrow{{_id}}" class="btn btn-default upArrowButton">
            <span name="upArrowButton{{_id}}" class="glyphicon glyphicon-arrow-up"></span>
          </button>
        </div>
        <div class="row">
          <button name="downArrow{{_id}}" class="btn btn-default downArrowButton">
            <span name="downArrowButton{{_id}}" class="glyphicon glyphicon-arrow-down"></span>
          </button>
        </div>
    </div>
  </div> <!-- snapshot -->
</template>
