<template name="summaryItem">
  <style>
    #voteArrows{
      padding-top: 15px;
      padding-left: 85px;
      padding-right: 0px;
    }
    .glyphicon.glyphicon-arrow-up{
      font-size: 32px;
    }
    .glyphicon.glyphicon-arrow-down{
      font-size: 32px;
    }
  </style>
 <div class="row">
    <div class="col-md-1" id="voteArrows">
        <div class="row">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
        <div class="row">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
    </div>   
    <div class="col-md-7">
      <div class="panel panel-primary text-left">
        <div class="panel-heading">
          <a href="{{pathFor 'postPage'}}" class="panel-title">{{title _id}}</a>
        </div>
        <div class="body">
          <div class="row text-left">
            <div class="col-md-12">
              {{text}}
              <br>
              <small>submitted at CREATED_AT by {{userName userID}}</small>              
            </div>
          </div>          
          <div class="row">
          </div>
        </div>
      </div>
    </div> <!-- 2nd column -->        
  </div> <!-- snapshot -->
</template>