<template name="searchTemplate">
    <div class="col-md-8 center-block">
        <div class="search_div">
            {{> esInput id="search_input" class="search_input" index=indexes timeout="1000" placeholder="Search..." }}

            <ul class="search_results">
                {{#ifEsIsSearching id="search_input" index="posts"}}
                <li>Searching...</li>
                {{/ifEsIsSearching}}

                {{#ifEsHasNoResults id="search_input" index=indexes}}
                <li>No results found.</li>
                {{/ifEsHasNoResults}}

                {{#esEach id="search_input" index="posts"}}
                <li>Paper: <a href="{{pathFor 'postPage'}}"> {{>titleTemplate}} {{author}} </a></li>
                {{/esEach}}

                {{#esEach id="search_input" index="dictionary"}}
                <li>Dictionary: <a href="{{pathFor 'dictionaryPage'}}">{{name}} </a></li>
                {{/esEach}}

                {{#esEach id="search_input" index="terms"}}
                <li>Term: <a href="{{pathFor 'termPage'}}"> {{>nameTemplate}} </a></li>
                {{/esEach}}
            </ul>
        </div>
    </div>
</template>



