<template name="layout">
  <div class="navbar navbar-default navbar-inverse navbar-static-top" id="navbar">
    <style>
      .body  {padding-top:7px}

      #jumbo {
        font-size: 40px;
        padding: 10px;
        color:#3854A8; 
        font-family:Trebuchet MS;
        text-align: right;
      }
      #navbar {
        border-bottom: 0px;
        margin-bottom: 0px;
      }
      #navTabs {
        font-weight: bold;
        font-size: 34px;
        font-family: Trebuchet MS;
        padding: 0px;
      }
      #siteTitle {
        font-size: 40px;
        padding: 10px;
        color:#FFFFFF; 
        font-family:Trebuchet MS;
      }
    </style>
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-left"><a href="{{pathFor 'postsList'}}" id="siteTitle">FieldNotes</a></span>
        <span></span>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons align="right"}}
          {{setNewUserRole}}
        </ul>
      </div>
    </div>
  </div> <!-- /Nav bar -->
  <p id="navTabs">
      <ul class="nav nav-tabs nav-justified">
        <!-- <li role="presentation"><a href="{{pathFor 'postsList'}}">Home</a></li> -->
        <li role="presentation"><a href="{{pathFor 'submitPage'}}">Submit Paper</a></li>
        <li role="presentation"><a href="{{pathFor 'dictionaries'}}">Dictionary</a></li>
        <li role="presentation"><a href="{{pathFor 'searchTemplate'}}">Search</a></li>
      </ul> 
  </p>
   <div class="jumbotron" id="jumbo"> <!-- JUMBO TRON -->

    <p>

      <ul class="nav nav-tabs nav-justified">
      {{#each categories}}
        <li role="presentation"><a href="{{pathFor 'categoryPage'}}">{{category_name}}</a></li>
      {{/each}}
        <li role="presentation" class="text-right"><a><span class="glyphicon glyphicon-plus"></span></a></li>
        <li role="presentation"><a><span class="glyphicon glyphicon-chevron-down"></span></a></li>
      </ul>
     
    </p>
  </div> <!-- /JUMBO TRON -->
  <section>
      <div class="container">
          {{> yield}}
      </div>
  </section>
</template>