<template name="layout">
  <div class="navbar navbar-default navbar-inverse navbar-static-top" id="navbar">
    <style>
      .body{padding-top:7px}
    </style>
    <div class="container">
      <div class="navbar-header">
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default glyphicon glyphicon-search" type="button"
              draggable="true"></button>
            </span>
          </div>
        </form>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons align="right"}}
        </ul>
      </div>
    </div>
  </div> <!-- /Nav bar -->
   <div class="jumbotron" id="jumbo"> <!-- JUMBO TRON -->
   <style>
      #jumbo {
        padding: 10px;
      }
      #navbar {
        border-bottom: 0px;
        margin-bottom: 0px;
      }
   </style>
   <span style="color:#3854A8; font-family:Trebuchet MS;">
    <h1 class="text-right">FieldNotes</h1>
    </span>
    <p>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="{{pathFor 'postsList'}}">Home</a></li>
        <li role="presentation"><a href="{{pathFor 'submitPage'}}">Submit</a></li>
        <li role="presentation"><a href="{{pathFor 'dictionaries'}}">Dictionary</a></li>
        <li role="presentation"><a href="{{pathFor 'account'}}">Account</a></li>        
      </ul>
      <ul class="nav nav-tabs nav-justified">
      {{#each categories}}
        <li role="presentation"><a href="{{pathFor 'categoryPage'}}">{{category_name}}</a></li>
      {{/each}}
        <li role="presentation"><a><span class="glyphicon glyphicon-chevron-down"></span></a></li>
        <li role="presentation" class="text-right"><button>New</button></li>
      </ul>
     
    </p>
  </div> <!-- /JUMBO TRON -->
  <section>
      <div class="container">
          {{> yield}}
      </div>
  </section>
</template>