<template name="newDictionaryTerm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>New Dictionary Term</h2>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <label for="name">Entry Name: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="title" name="name" value="" class="form-control" placeholder="Name">
                </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Definition:
                    </div>
                    <div class="panel-body">
                        **Alow user input**
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-md-12">
                <p>Required Information: *</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <label for="runningTime">Running time: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="runningTime" name="runningTime" value="" class="form-control">
                </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="upperBound">Upper Bound: </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="upperBound" name="upperBound" value="" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="Complexity">Complexity: </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="Complexity" name="Complexity" value="" class="form-control">
            </div>
        </div>
    </div>
</template>
