<template name='termPage'>
	<div class="container">
		<form>
			<div class="row">				
				<div class="col-md-9">
					<div name="uneditableField">
						<div class="col-md-12" id="titleID">
							<h2>Definition(s) for:    {{term_name}}</h2>
						</div>
					</div>
					<div name="editableInputField" hidden>
						<div class="col-md-3">
							<h3>Definition(s) For:</h3>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="term_name" name="term_name" value="{{ term_name }}"/>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div name="editTermButton" {{isAdmin}}>
						<button class="editTermButton btn btn-warning" type="button" style="float: right">Edit Term
		          		<span class="glyphicon glyphicon-pencil"></span></button>
					</div>
				</div>				
			</div><!-- /row -->
			<div class="row">
				<div class="col-md-5">
					<a class="btn btn-default" href="{{ pathFor 'submitDefinition'}}">Click here to submit a new defintion</a>
				</div>
			</div>
			{{#each getDefinitions _id}}
	          	{{> definitionTemplate}} 
	      	{{/each}}

			{{getDynamicFields dictionaryID}}
			{{getLabelValue _id}}
			
			{{#each labels}}
				<div class="row">
					<input type="hidden" name="adminLabelID" value="{{_id}}"/>
					<div class="col-md-3">
						<label for="complexityID">{{label}}</label>
					</div>
					<div name="labelDesc" >
						<div class="col-md-9">
							<span type="text" id="complexityID">{{labelDescription _id}}</span>
						</div>
					</div>
					<div name="editableInputField" hidden>
						<div class="col-md-9">
							<input type="text" id="complexityID" name="labelValue" value="{{labelDescription _id}}" />
						</div>
					</div>
				</div><!-- /row -->
				<!--{{> dynamicFieldWithValue term_name}} -->
			{{/each}}
		</form>
	</div><!-- /container -->
</template>

