<template name='termPage'>
    <div class='col-md-2'></div>
    <div class="col-md-8">
        <form>
            <div class="row">
                <div class="col-md-9">
                    <div>
                        {{#if editMode}}
                        <div class="col-md-6">
                            <h3 style="margin-top: 5px;">Definition(s) For:</h3>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="term_name" name="term_name" value="{{ term_name }}"/>
                        </div>
                        {{else}}
                        <div id="titleID">
                            <h3 style="margin-top: 5px;">Definition(s) for: {{>nameTemplate}}</h3>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        {{#if isAdmin}}
                        {{#if editMode}}
                        <button name="saveChangesButton" class="btn btn-success" type="button" style="float: right">
                            Save Changes
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        {{else}}
                        <button name="editTermButton" class="btn btn-warning" type="button" style="float: right">
                            Edit Term
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {{#if loggedIn}}
                    <a class="btn btn-default" href="{{ pathFor 'submitDefinition'}}">Click here to submit a new definition</a>
                    {{/if}}
                </div>
                <div class="col-md-4">
                    {{#if showAllDefinitions}}
                    <button class="btn btn-default" type="button" style="float: right" name="showTopDefinition">Show top Definition</button>
                    {{else}}
                    <button class="btn btn-default" type="button" style="float: right" name="showAllDefinitions">Show all Definitions</button>
                    {{/if}}
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-12">
                    {{#if showAllDefinitions}}
                        {{#each allDefinitions}}
                            {{> definitionTemplate}}
                        {{/each}}
                    {{else}}
                        {{#with topDefinition}}
                            {{> definitionTemplate}}
                        {{/with}}
                    {{/if}}
                </div>
            </div>

            {{#each labels}}
                <div class="row">
                    <input type="hidden" name="adminLabelID" value="{{_id}}"/>
                    <div class="col-md-3">
                        {{#mathjax}}
                        <label for="complexityID">{{label}}</label>
                        {{/mathjax}}
                    </div>
                    <div>
                        <div class="col-md-9">
                            {{#if editMode}}
                            <input class="form-control" type="text" id="complexityID" name="labelValue" value="{{labelDescription}}" />
                            {{else}}
                            {{#mathjax}}
                            <span type="text" id="complexityID">{{labelDescription}}</span>
                            {{/mathjax}}
                            {{/if}}
                        </div>
                    </div>
                </div><!-- /row -->
                <!--{{> dynamicFieldWithValue term_name}} -->
            {{/each}}
        </form>
    </div>
</template>
