<template name="dictionaryPage">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Search for a definition" aria-describedby="searchbuttonaddon">
					<span class="input-group-addon" id="searchbuttonaddon"><a class="glyphicon glyphicon-search"></a></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p></p>
				<a class="btn btn-primary" href="{{pathFor 'newDictionary'}}">Create a new dictionary</a>
			</div>
		</div>
			
		<div class="row">
			<div class="col-md-6">
				<h5>Pick a dictionary to explore it further, or use the search field to find the definition you are looking for.</h5>
				<h4>List of available dictionaries:</h4>
				<ul>		
					<li><a href="#">Algorithms</a></li>
					<li><a href="#">Problems</a></li>
					<li><a href="#">Artificial Intelligence</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>