<template name="newDictionary">
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h2>Create a Dictionary</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="dictionaryname">Dictionary Name: </label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="dictionaryname" ng-model="nameValue" name="title" value="" class="required form-control" placeholder="Name">
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-4">
                    <label>Term Label</label>
                </div>
                <div class="col-md-4">
                    <label>Term Description</label>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <!-- Loop over the result from getArray function -->
            {{#each getArray}}
            <div class="row" id="row{{index}}">
                <div class="col-md-4">
                    <input type="text" id="" name="dynamicVarName[]" value="" class="required form-control" placeholder="Variable Name">
                </div>
                <div class="col-md-4">
                    <input type="text" id="" name="variableType[]" value="" class="required form-control" placeholder="Default set to string">
                </div>
                <div class="col-md-1 text-right">
                    <button type="button" class='btn btn-danger' id='deleteRow' name="testButton">
                        <a class='glyphicon glyphicon-minus'></a>
                    </button>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-1 text-right">
                    <button type="button" class='btn btn-success' id='increaseRow' name="testButton">
                        <a class='glyphicon glyphicon-plus'></a>
                    </button>
                </div>
            </div>
            <p></p>
            <div>
                <button name="createDictionaryButton" type="button" class="btn btn-primary">Create a Dictionary</button>
            </div>
        </div>
    </form>
</template>
