<template name="newDictionary">
	<form>
	<div class="container">
		<div class="row">		
			<div class="col-md-12">
				<div>
					<h2>Create a Dictionary</h2>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-md-3">
	   				<label for="dictionaryname">Dictionary Name: </label>
		   		</div>
		   		<div class="col-md-6">
				  	<input type="text" id="dictionaryname" name="title" value="" class="form-control" placeholder="Name">
		   		</div>
		</div>
		<div class="row"><p></p></div>
		<div class="row">
			<div class="col-md-4">
				<label>Name</label>
			</div>
			<div class="col-md-4">
				<label>Type</label>
			</div>
			<div class="col-md-4">

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Variable Name">
			</div>
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Default set to string">
			</div>
			<div class="col-md-1 text-right">
				<button type="button" class="btn btn-danger"><a href="#" class="glyphicon glyphicon-minus"></a></button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Varaible Name">
			</div>
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Default set to string">
			</div>
			<div class="col-md-1 text-right">
				<button type="button" class="btn btn-danger"><a href="#" class="glyphicon glyphicon-minus"></a></button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Varaible Name">
			</div>
			<div class="col-md-4">
				<input type="text" id="" name="" value="" class="form-control" placeholder="Default set to string">
			</div>
			<div class="col-md-1 text-right">
				<button type="button" class="btn btn-success"><a href="#" class="glyphicon glyphicon-minus"></a></button>
			</div>
		</div>
		<p></p>
		<div>
			<button class="btn btn-primary" type="submit">Create a Dictionary</button>
		</div>
	</div>
	</form>
</template>