<template name="submitPage">
<div class="row" style="float: center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="title">Title:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="title" name="title" value="" class="form-control required" placeholder="Title">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <label for="title">Category:</label>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-expanded="true" value="">
                            {{selectedCategory}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labeledby="dropdownMenu1">
                            {{#each categories}}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" name="categoryName">{{ category_name }}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Summary:
                        </div>
                        <div class="panel-body">
                            <textarea class="required" rows = "6" cols= "70" name="summary"></textarea>
                            <br/>
                            Preview:
                            {{#markdown}}{{{preview_data}}}{{/markdown}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="title">DOI Link:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="doi" value="" class="form-control required" placeholder="**insert DOI example here**">
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div class="row">
                    <div class="col-md-4">
                    <label>Terms Used:</label>
                </div>
                <div class="col-md-7">
                    {{> search}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                            <!-- {{#each submitPostTerms 'used'}}
                            {{> termUsed}}
                        {{/each}}    -->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Terms Defined:</label>
                </div>
                <div class="col-md-7">
                    <button>Add New Definition</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                            <!-- {{#each submitPostTerms 'defined'}}
                            {{> termDefined}}
                        {{/each}} -->
                    </ul>
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div class="row">
                <div class="col-md-3">
                    <label for="author">Author: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name='author' value='' class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="publish_date">Publisher: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="publisher" value="" class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="publish_date">Date Published: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="publish_date" value="" class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div>
                <input type='button' value='Submit' class='submitButton btn btn-primary' disabled="{{#if loggedIn}}{{else}}true{{/if}}"/>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
</template>

<!-- Autocomplete typeahead. Might want to use meteor-jquery-rateit atmosphere package instead. -->
<template name="search">
    <input class="form-control typeahead" name="search" type="text"
         placeholder="Search for terms"
         autocomplete="off" spellcheck="off"
         data-source="terms"/>
</template>
