<html>
<head>
  <meta charset="utf-8">
    <title>Field Notes</title>
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body class="">
  <!-- Nav Bar -->
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <style>
        .body{padding-top:70px}
      </style>
      <div class="container">
        <div class="navbar-header">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-home" type="button"
                draggable="true"></button>
              </span>
            </div>
          </form>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
      </div>
    </div> <!-- /Nav bar -->
  <div class="jumbotron"> <!-- JUMBO TRON -->
    <h1 class="text-right">FieldNotes</h1>
    <p>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="">Home</a></li>
        <li role="presentation"><a href="">Submit</a></li>
        <li role="presentation"><a href="">Dictionary</a></li>
        <li role="presentation"><a href="">Account</a></li>        
      </ul>
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="">Sub-category 1</a></li>
        <li role="presentation"><a href="">Sub-category 2</a></li>
        <li role="presentation"><a href="">Sub-category 3</a></li>
        <li role="presentation"><a><span class="glypchicon glyphicon-chevron-down"></a></span></li>
        <li role="presentation"class="text-right"><button>New</button></li>
      </ul>
    </p>

  </div> <!-- /JUMBO TRON -->

  <section>

<ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Terms <br>
                    <input type='text'>
                </li>
                <li>
                    Term 1 -
                    <br>
                    definition
                </li>
                <li>
                    Term 2 -
                    <br>
                    definition
                </li>
                <li>
                    Term 3 -
                    <br>
                    definition
                </li>
                <li>
                    Term 4 -
                    <br>
                    definition
                </li>

            </ul>

    <div class="container">




      <div class="row">
        <div class="col-md-3">
          <label>DOI: </label> DOI LINK
        </div>
        <div class="col-md-3">
          <label>DATE PUBLISHED:</label> TIMESTAMP
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>User Poster: </label> USER
        </div>
        <div class="col-md-3">
          <label>Publisher: </label> PUBLISHER
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Author: </label> AUTHOR
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="summaries">Summary: </label>
        </div>
        <div class="col-md-3">
          Not the only summary! <button>More</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          top rated summary text
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label>Comments:</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          Need to do research on how to implement comment hierarchy 
        </div>
      </div>

    </div>

  </section>
</body>
</html>